body {
	color: #fff;
	font: 12px Tahoma, sans-serif;
	background-image: url('/static/img/Rick-blog.png');
	background-size: cover;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

.login {
	margin-left: 140px;
	padding: 0px 20px;
}

.newbackground{
	background-color: rgba(227,242,253,0.5)
}

p {
	margin: 20px 0;
}

#wrapper {
	max-width: 960px;
	margin: auto;
}
header {
	padding: 20px 0;
}

form[name="search"] {
	float: right;
}

nav a {
	text-decoration: none;
	color: #29c5e6;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 12px 'Oswald', sans-serif;
	padding: 10px;
}

.navbar-nav li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
	color: #fff;
}

.navbar-nav li.active {
	background: #29c5e6;
	color: #fff;
}

.navbar-nav a {
	color: #fff;
}

#heading {
	background: transparent url(/static/img/KHL.jpg);
	margin: 30px 0;
	padding-left: 20px;
}

section {
	margin-left: 280px;
	padding-bottom: 50px;
}

blockquote {
	margin: 0;
	background: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #1d8ea6;
	margin: 0;
	text-align: right;
}
figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}


section > h2 {
	background-color: rgba(227,242,253,0.5);
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	padding: 0 10px;
	margin: 30px 0 0 0;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
	background-color: rgba(227,242,253,0.5);
}

.team-row figure {
	margin-top: 20px;
}

.team-row figure + figure {
	margin-left: 43px;
}
footer {
	background: rgba(227,242,253,0.5);
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
	background: rgba(227,242,253,0.5);
	float: bottom
}


footer a {
	color: rgba(227,242,253,0.5);
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background-size: contain;
	display: inline-block;
	margin-right: 10px;
}

.facebook {
	background-image: url('/static/img/fb.png');
}

.youtube {
	background-image: url('/static/img/IG.png');
}

.instagram {
	background-image: url('/static/img/YT.png');
}

.vk {
	background-image: url('/static/img/VK.png');
}

.ice-field{
background: #fff url(//s5o.ru/common/css/i/fantasy/ice.png) no-repeat 0 0;
height: 900px;
position: relative;
float: left
}

.ice{
background: rgba(227,242,253,0.5);
width: 360px;
height: 650px;
position: relative;
float: left
}

.half{
	height: 314px
}

.players-container{
	padding: 20px 0 0;
text-align: center;
white-space: nowrap
}

.ice .player{
	display: inline-block;
width: 100px;
height: 78px;
cursor: pointer;
font-size: 11px;
color: #000;
text-decoration: none;
text-align: center;
vertical-align: top;
position: relative;
z-index: 2
}

.center-half{
height: 216px;
margin: 10px 0
}

.transfer-form .team-info-block{
	margin-left: 380px
}

.team-info-block{
	margin-left: 360px;
position: relative
}

.foot-transfer, .transfer-filter{
background: rgba(155, 214, 232, 0.34);
padding: 20px 20px 0;
height: 60px;
overflow: hidden
}

.transfer-filter .player-select{
width: 130px;
float: left
}

.button, .input, .select, .textarea{
font-family: inherit;
font-size: inherit;
line-height: inherit;
font: normal 11px Arial;
color: #000;
outline: none
}



