<footer>
        <div id="footer">
          <div id="sitemap">
            <a href="/about/">О нас</a>
            <a href="/partners/">Партнеры</a>
            <a href="/contacts/">Контакты</a>
          </div>
          <div id="social">
            <a href="http://facebook.com/" class="social-icon facebook"></a>
            <a href="http://youtube.com/" class="social-icon YT"></a>
            <a href="http://instagram.com/" class="social-icon IG"></a>
            <a href="http://vk.com/" class="social-icon vk"></a>
          </div>
      </footer>