facebook
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fantasy Hockey</title>>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/static/css/main.css" rel="stylesheet" />
     <link href="css/dopstyle.css" rel="stylesheet" media="screen">
     <link rel="stylesheet" href="css/fontAwesome.css">
     <link rel="stylesheet" href="css/templatemo-style.css">


  </head>
  <body>
    <div in='wrapper'>
      <header>
        <nav>
          <div class='navbar navbar-inverse navbar-fixed-top'>
          <nav class="navbar navbar-light bg-light">
          <nav class="navbar navbar-expand-lg navbar-light bg-light" style='background-color: #e3f2fd'>
            <a class="navbar-brand" href="/"> ХОККЕЙ </a>
            <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav'>
              <span class='navbar-toggler-icon'></span>
            </button>
            <div class="collapse navbar-collapse" id='navbarNav'>
                <ul class='navbar-nav'>
                  <li class=nav-item active'>
                    <a class='nav-link' href='/all_the_news/'> ГЛАВНАЯ <span class='sr-only'>(current)</span></a>
                                              <li>
                            <!-- #должно быть выпадающее окошко -->
                              <a href='/top_ranking/'>ИГРОКИ</a>
                                <li><a href="player-list.html">Players</a></li>
                                <li><a href="player-detail.html">Player detail</a></li>
                                <li><a href="team-detail.html">Team Detail</a></li>
                            <!-- #должно быть выпадающее окошко -->
                    <a class='nav-link' href='/top_ranking/'>ТУРНИРЫ</a>
                  </li>
                  <li class='nav-item'>
                    <a class='nav-link' href='/top_ranking/'>ПРАВИЛА</a>
                  </li>
                </ul>

<!-- #строка поиска --> 
                <form name="search" action="#" method="get">
                  <input type="text" name="q" placeholder="Search"><button type="submit">ПОИСК</button>
                </form>
 <!-- #строка поиска --> 

               <form class="navbar-form navbar-right" method="POST" action='/login/'> <!-- #задали по какой переменной будем передавать данные -->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="email" name='email'>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="пароль" name='passwd'>
                </div>
                <button type='submit' class='btn-default'> Логин </button>
               </form>
            </div>
          </nav>
        </div>
      </header>

   <div id='heading'></div>
    <div class="col-md-3 page-header"></div>
        <h5> Fantasy Sports – это бесплатные он-лайн игры в жанре спортивного менеджера. Вам предоставляется уникальная возможность создать свою собственную команду из звездных и не очень спортсменов в одном из многочисленных турниров, которые проводятся в течение сезона на нашем игровом портале. </h5>
    </div>
      <div class="row">
        <div class="col-md-3 top-material">
          <h4>Шапки для сайта</h4>
            <br>Если вы не дружите с фотошопом или у вас совсем нет времени на самостоятельное создание шапки, то лучше воспользоваться готовой.<br/>
        </div>
      </div>
      <div class="col-md-3 top-material">
        <h4>Шапки для сайта</h4>
            Если вы не дружите с фотошопом или у вас совсем нет времени на самостоятельное создание шапки, то лучше воспользоваться готовой.<br/>
      </div>
      <div class="col-md-3 top-material">
        <h4>Шапки для сайта</h4>
            Если вы не дружите с фотошопом или у вас совсем нет времени на самостоятельное создание шапки, то лучше воспользоваться готовой.<br/>
      </div>
    </div>



          <!--#footer -->
          <div class="col-md-3">
            <div class="contact-us-widget">
              <h3>СВЯЖИТЕСЬ С НАМИ</h3>
              <ul class="social-links1">
                  <a href="/facebook/" class="fb-bg1"><i class="fa fa-facebook"></i></a>
                </li>
              </ul>
            </div>
          <!--#footer -->

