<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fantasy Hockey</title>>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/static/css/main.css" rel="stylesheet" />
     <link href="/static/css/dopstyle.css" rel="stylesheet" media="screen">
     <link rel="stylesheet" href="css/fontAwesome.css">
     <link rel="stylesheet" href="css/templatemo-style.css">


  </head>
  <body>
  
    {% include 'navigation.html' %}
   
    <section>
      <blockquote>
        <p>
        Fantasy Sports – это бесплатные он-лайн игры в жанре спортивного менеджера. Вам предоставляется уникальная возможность создать свою собственную команду из звездных и не очень спортсменов в одном из многочисленных турниров, которые проводятся в течение сезона на нашем игровом портале.
        </p>
      </blockquote>
      </section>
      
      <section class="kode-pagesection padding-20-topbottom">
          <div class="container">
            <div class="row">
              <div class="kode-result-list shape-view col-md-12">
          <div class="heading heading-12 margin-top30-bottom80">
          <p></p>
          <h2><span class="left"></span>Результаты последних розыгрышей <span class="right"></span></h2>
          </div>
        <div class="clear clearfix"></div>
                <div class="row">
                  <div class="col-md-6">
                    <article>
                      <span class="kode-result-count thbg-colortwo"></span>
                      <div class="kode-result-info">
                        <h2><a href="#">Победители</a> <span></span></h2>
                        <ul>
                          <li>Команда 1 <span>(17’)</span></li>
                          <li>Команда 2 <span>(51’)</span></li>
                          <li>Команда 3 <span>(91’)</span></li>
                        </ul>
                      </div>
                    </article>
                  </div>
                </div>
            </div>
          </div>
      </section>
  </div>
  
{% include "endblock.html" %}
      
</body>
</html>

    <scrip src="https:ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </scrip>
    <script src=/static/js/bootstrap.min.js></script>