<div in='wrapper'>
  <nav class="navbar navbar-expand-lg navbar-fixed-top newbackground">
        <a href="#" title="Показать Главное меню" class="toggle_main_menu" id="toggle_main_menu"></a>
              <div class='container'>
                <a class="navbar-brand" href="/"> ХОККЕЙ </a>
                <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav'>
                  <span class='navbar-toggler-icon'></span>
                </button>
                <div class="collapse navbar-collapse" id='navbarNav'>
                    <ul class='navbar-nav' id='main_menu'>
                      <li class=nav-item active'>
                        <a class='nav-link' href='/main/'> ГЛАВНАЯ <span class='sr-only'>(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/players/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ИГРОКИ</a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/players2/">Статистика игроков</a></li>
                            <li><a class="dropdown-item" href="/players3/">Командная статистика</a></li>
                          </ul>
                      </li>
                      <li>
                        <a class='nav-link' href='/games/'>ТУРНИРЫ</a>
                      </li>
                      <li class='nav-item'>
                        <a class='nav-link' href='/rules/'>ПРАВИЛА</a>
                      </li>
                    </ul>
      }

    <!-- логин -->
                  <div class="auth auth__login">
                    <span class="auth__arrow">
                      <span class="auth__arrow_login"></span>
                    </span>
                  </div>
                  <div class="auth__section">
                    <form id="auth-form" method="post" action="." novalidate>
                      <input type='hidden' name='csrfmiddlewaretoken' value='tF1l72kX6RUiuzDbXj7NxCZ5tjJ9c6Dp'> </input>
                      <input autofocus="autofocus" class="auth__field_input" id="id_username" maxlength="254" name="username" placeholder="Username or email" type="text"> </input>
                      <input class="auth__field_input" id="id_password" name="password" placeholder="Password" type="password"> </input>
                      <input type="submit" class="auth__btn" value="Log In"> </input>
                        <div class="auth__preloader">
                            <span class="auth__preloader_dot"></span>
                            <span class="auth__preloader_dot"></span>
                            <span class="auth__preloader_dot"></span>
                            <span class="auth__preloader_dot"></span>
                            <span class="auth__preloader_dot"></span>
                        </div>
                        
                      <a href="/profile/remind/" class="auth__field_link">Forgot password</a>
                      <a href="/profile/registration/" class="auth__field_link">Sign Up</a>
                                
                      <input type="hidden" name="next" value="/oauth/authorize-finish/?redirect_uri=https%3A%2F%2Fpy.checkio.org%2Fcomplete%2Fcheckio%2F&amp;response_type=code&amp;client_id=LF2SkLNUMpD9kGktqgQnt%21w3HGFoTwi%3FdQV0z1up&amp;confirmed_email=None"> </input>
                    </form>
                    <form class="auth__openid" action="/login/openid/" method="POST">
                       <input type='hidden' name='csrfmiddlewaretoken' value='tF1l72kX6RUiuzDbXj7NxCZ5tjJ9c6Dp'></input>
                        <input type="text" name="openid_identifier" class="auth__openid_input" hidden="hidden"></input>
                    </form>
                  </div>
    <!-- логин -->
                </div>
                </div>
              </nav>

