<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fantasy Hockey</title>>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/static/css/main.css" rel="stylesheet" />
     <link href="/static/css/dopstyle.css" rel="stylesheet" media="screen">
     <link rel="stylesheet" href="css/fontAwesome.css">
     <link rel="stylesheet" href="css/templatemo-style.css">
  </head>
  <body>
  
    {% include "navigation.html" ignore missing %}
   	<section>
<!-- здесь будут результаты турниров -->
   	</section>
   		<section>
<!-- Создаем свою команду -->
   	</section>