<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fantasy Hockey</title>>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
     <link href="/static/css/main.css" rel="stylesheet" />
     <link href="/static/css/dopstyle.css" rel="stylesheet" media="screen">
     <link rel="stylesheet" href="css/fontAwesome.css">
     <link rel="stylesheet" href="css/templatemo-style.css">
  </head>
  <body>
  
    {% include "navigation.html" ignore missing %}
   	<section>
		<div class="row" >
		      <div class='col-md-3 top-material color: #fff'>
		        <h3>Как Играть В Фэнтези Хоккей?</h3>
		            Правила игры довольно просты, и похожи на другие виды дэйли фэнтези спорта. Вы набираете в команду игроков (например, 6 человек на DraftOn, 7 — на FanTeam), которым за результативные действия во время матча будут начисляться очки. <br/>
		      </div>
		      <div class="col-md-3 top-material">
		        <h3>За Что Даются Очки В Фэнтези Хоккее?</h3>
		            В Фэнтези Хоккей ваши игроки могут получить очки за следующие действия на поле:
						Гол (количество очков обычно зависит от амплуа игрока)
						Ассист (количество очков обычно зависит от амплуа игрока)
						Сэйв
						Сухой матч
						Победа в матче
						Учитывается также количество минут, проведенных на площадке.<br/>
		      </div>
		      <div class="col-md-3 top-material">
		        <h3>За Что Отнимаются Очки В Фэнтези Хоккее?</h3>
		            Некоторые действия ваших отдельных хоккеистов могут отрицательно влиять на общий результат вашей команды. Вот за что обычно снимаются очки:
						Минуты штрафа
						Буллиты
						Пропущенные шайбы <br/>
		      </div>
		    </div>
	</section>
{% include "endblock.html" %}

