Рейтинг

 <form class="navbar-form navbar-right" method="POST" action='/login/'> <!-- #задали по какой переменной будем передавать данные -->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="email" name='email'>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="пароль" name='passwd'>
                </div>
                <p><label><input type="checkbox"><span>Remember Me</span></label></p>
                <p class="kode-submit"><a href="#">Lost Your Password</a> <input class="thbg-colortwo" type="submit" value="Sign Up"></p>
                <button type='submit' class='btn-default'> Логин </button>
              </form>